.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 1fr;
    gap: 5px;
    align-items: center;
}

.book {
    border: 1px solid black
}

.book-form {
    visibility: hidden;
}